@import './colors';
@import './sizes';

html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: $bg-color;
}

h1 {
  margin: $size-10 0;
  color: $gray-900;
}

h2 {
  margin: 0;
  color: $gray-800;
}

h3 {
  margin: 0;
  color: $gray-800;
}

.text-center {
  text-align: center;
}

.gray-600 {
  color: $gray-600;
}

// extra small
@media screen {
  body {
    font-size: 13px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #app {
    .content {
      padding: 15px 15px 5px;
    }
  }
}

// small
@media screen and (min-width: 576px) {
  body {
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  #app {
    .content {
      padding: 20px 25px 10px;
    }
  }

  .container {
    max-width: 540px;
    margin: auto;
  }
}

// medium
@media screen and (min-width: 768px) {
  .container {
    font-size: 15px;
    max-width: 720px;
    margin: auto;
  }
}

// large
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: auto;
  }
}

// extra large
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}
