@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900&display=swap');

$background: #f1f6fa;
$gray-50: #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: $background;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    max-width: 660px;
    padding: 20px;
    border-radius: 3px;
    user-select: none;
    
    h1 {
        font-family: 'Roboto Slab';
        font-weight: 700;
    }

    h2 {
        font-family: 'Lato';
        font-weight: 400;
    }

    .fill-available-width {
        width: fill-available;
    }

    // TODO адаптив под разные размеры экрана
    .header {
        margin: 35px 0;

        .header-title {
            font-size: 42px;
            margin-top: 0;
            // margin-bottom: 20px;
            color: $gray-900;
        }

        .header-subtitle {
            font-size: 24px;
            color: $gray-800;
            margin: 0;
        }
    }

    .content {
        &__card {
            background: white;
            border-radius: 3px;
            padding: 20px 25px;
        }

        &__title {
            font-size: 20px;
            font-weight: 300;
            color: $gray-800;
            margin: 0;

            &__index {
                color: $gray-600;
            }
        }

        .input {
            margin: 20px 15px 5px 15px;
            padding: 9px;
            font-family: 'Roboto';
            font-size: 18px;
            color: $gray-800;
            border: 1px solid $gray-500;
            border-radius: 3px;
        }

        .input::placeholder {
            color: $gray-800;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;
            opacity: 0.7;
            text-transform: uppercase !important;
        }

        .address {
            .address-input {
                text-transform: lowercase;
            }
        }

        .generated {
            .generated-title {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 28px;
                font-weight: 300;
                font-family: 'Raleway';
            }

            .generated-result {
                margin: 20px 0;
                text-align: center;
                font-size: 28px;
                font-weight: 400;
                font-family: 'Roboto';
                border: 0px solid $gray-500;
                background: inherit;
                border-radius: 3px;
                margin: 25px 15px;
            }
        }

        .button-group {
            display: flex;
            justify-content: flex-end;

            input[type=button] {
                margin: 5px;
            }
        }
    }
}