@import './fonts';
@import './colors';
@import './toast';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: $background;
    display: grid;
    align-items: center;
    justify-content: center;
}

#app {
    padding: 18px;
    user-select: none;
    
    h1 {
        font-family: 'Roboto Slab';
        font-weight: 700;
    }

    h2 {
        font-family: 'Lato';
        font-weight: 400;
    }

    .fill-available-width {
        width: fill-available;
    }

    .header {
        margin: 0 0 25px;

        .header-title {
            font-size: 2.3em;
            margin: 10px 0;
            // margin-bottom: 20px;
            color: $gray-900;
        }

        .header-subtitle {
            font-size: 1.3em;
            color: $gray-800;
            margin: 0;
        }
    }

    .content {
        background: white;
        border-radius: 3px;
        display: grid;
        grid-row-gap: 20px;
        padding: 20px 25px 10px;

        .content-card {
            &__title {
                font-size: 1.15em;
                font-weight: 300;
                color: $gray-800;
                margin: 0;
    
                .item-index {
                    color: $gray-600;
                }
            }
    
            &__input {
                margin: 20px 15px 7px 15px;
                padding: 9px;
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 1.125em;
                color: $gray-800;
                border: 1px solid $gray-500;
                border-radius: 3px;
    
                &::placeholder {
                    color: $gray-800;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 0.8em;
                    opacity: 0.6;
                    text-transform: uppercase;
                }
            }

            input#address {
                text-transform: lowercase;
            }

            #generated-label {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 1.5em;
                font-weight: 300;
                font-family: 'Roboto';
            }

            input#generated-result {
                margin: 20px 0;
                text-align: center;
                font-size: 1.5em;
                font-weight: 400;
                font-family: 'Roboto Mono';
                border: 0px solid $gray-500;
                background: inherit;
                border-radius: 3px;
                margin: 20px 15px;
            }

            .float-right-button-group {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-column-gap: 10px;
                justify-content: flex-end;
                margin-right: 15px;

                input[type=button] {
                    padding: 5px 7px;
                    cursor: pointer;
                }
            }
        }

        .card-links {
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media screen {
    body {
        font-size: 12px;
        // align-items: flex-start;
        // justify-content: flex-start;
    }
}

@media screen and (min-width: 320px) {
    body {
        font-size: 15px;
    }
}

@media screen and (min-width: 720px) {

}

// extra small
@media screen {

}

// small
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: auto;
    }
}

// medium
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: auto;
    }
}

// large
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: auto;
    }
}

// extra large
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: auto;
    }
}