@import './fonts';
@import './colors';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: $background;
    display: grid;
    align-items: center;
    justify-content: center;
}

#app {
    max-width: 670px;
    padding: 18px;
    // border-radius: 5px;
    user-select: none;
    
    h1 {
        font-family: 'Roboto Slab';
        font-weight: 700;
    }

    h2 {
        font-family: 'Lato';
        font-weight: 400;
    }

    .fill-available-width {
        width: fill-available;
    }

    .header {
        margin: 0 0 35px;

        .header-title {
            font-size: 2.5em;
            margin-top: 0;
            // margin-bottom: 20px;
            color: $gray-900;
        }

        .header-subtitle {
            font-size: 1.5em;
            color: $gray-800;
            margin: 0;
        }
    }

    .content {
        background: white;
        border-radius: 3px;

        &__card {
            padding: 30px 25px 15px;
        }

        &__title {
            font-size: 1.25em;
            font-weight: 300;
            color: $gray-800;
            margin: 0;

            &__index {
                color: $gray-600;
            }
        }

        .input {
            margin: 20px 15px 5px 15px;
            padding: 9px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 1.125em;
            color: $gray-800;
            border: 1px solid $gray-500;
            border-radius: 3px;
        }

        .input::placeholder {
            color: $gray-800;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 0.9em;
            opacity: 0.7;
            text-transform: uppercase !important;
        }

        .address {
            .address-input {
                text-transform: lowercase;
            }
        }

        .generated {
            .generated-title {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 1.5em;
                font-weight: 300;
                font-family: 'Roboto';
            }

            .generated-result {
                margin: 20px 0;
                text-align: center;
                font-size: 1.5em;
                font-weight: 400;
                font-family: 'Roboto Mono';
                border: 0px solid $gray-500;
                background: inherit;
                border-radius: 3px;
                margin: 25px 15px;
            }
        }

        .button-group {
            display: flex;
            justify-content: flex-end;

            input[type=button] {
                margin: 5px;
                padding: 5px;
                cursor: pointer;
            }
        }

        .links {
            display: flex;
            justify-content: flex-end;
            // display: none;
        }
    }
}

@media screen and (max-width: 720px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 440px) {
    body {
        font-size: 12px;
    }

    #app {
        .content {
            &__card {
                padding: 20px 25px 10px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 11px;
        align-items: flex-start;
        justify-content: flex-start;
    }
}