@import './colors';

$bottom-offset: 5vh;

.toast {
    visibility: hidden;
    background-color: $gray-900-transparent;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 10px 14px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: $bottom-offset;
    font-size: 1em;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: $bottom-offset; opacity: 1;}
}
  
@keyframes fadeout {
    from {bottom: $bottom-offset; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

// extra small
@media screen {
    .toast {
        min-width: 80px;
        margin-left: calc(-40px - 14px); // min-width / 2
    }
}

// small
@media screen and (min-width: 576px) {
    .toast {
        min-width: 90px;
        margin-left: calc(-45px - 14px); // min-width / 2
    }
}