@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400&display=swap");
.toast {
  visibility: hidden;
  background-color: #212121dd;
  color: white;
  text-align: center;
  border-radius: 50px;
  padding: 10px 14px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 5vh;
  font-size: 1em; }

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 5vh;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 5vh;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 5vh;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 5vh;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@media screen {
  .toast {
    min-width: 80px;
    margin-left: calc(-40px - 14px); } }

@media screen and (min-width: 576px) {
  .toast {
    min-width: 90px;
    margin-left: calc(-45px - 14px); } }

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Material-Icons.woff2") format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background: #f1f6fa; }

.grid-container {
  display: grid; }

.icon-button {
  font-size: 1.8em; }

#app {
  padding: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  #app h1 {
    font-family: 'Roboto Slab';
    font-weight: 700; }
  #app h2 {
    font-family: 'Lato';
    font-weight: 400; }
  #app .fill-available-width {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available; }
  #app .header {
    margin: 0 0 25px; }
    #app .header .header-title {
      font-size: 2.3em;
      margin: 10px 0;
      color: #212121; }
    #app .header .header-subtitle {
      font-size: 1.3em;
      color: #424242;
      margin: 0; }
  #app .content {
    background: white;
    border-radius: 3px;
    grid-row-gap: 20px; }
    #app .content .content-card__title {
      font-size: 1.15em;
      font-weight: 300;
      color: #424242;
      margin: 0; }
      #app .content .content-card__title .item-index {
        color: #757575; }
    #app .content .content-card__input-container {
      padding: 20px 15px 7px 15px; }
      #app .content .content-card__input-container .content-input {
        padding: 9px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.125em;
        color: #212121;
        border: 1px solid #9E9E9E;
        border-radius: 3px; }
        #app .content .content-card__input-container .content-input::-webkit-input-placeholder {
          color: #424242;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 0.8em;
          opacity: 0.6;
          text-transform: uppercase; }
        #app .content .content-card__input-container .content-input::-moz-placeholder {
          color: #424242;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 0.8em;
          opacity: 0.6;
          text-transform: uppercase; }
        #app .content .content-card__input-container .content-input:-ms-input-placeholder {
          color: #424242;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 0.8em;
          opacity: 0.6;
          text-transform: uppercase; }
        #app .content .content-card__input-container .content-input::-ms-input-placeholder {
          color: #424242;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 0.8em;
          opacity: 0.6;
          text-transform: uppercase; }
        #app .content .content-card__input-container .content-input::placeholder {
          color: #424242;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 0.8em;
          opacity: 0.6;
          text-transform: uppercase; }
      #app .content .content-card__input-container button {
        display: -webkit-box;
        display: flex; }
    #app .content .content-card input#address {
      text-transform: lowercase; }
    #app .content .content-card .salt-grid-container {
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
      grid-column-gap: 10px; }
    #app .content .content-card #generated-label {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 1.5em;
      font-weight: 300;
      font-family: 'Roboto'; }
    #app .content .content-card input#generated-result {
      margin: 20px 0;
      text-align: center;
      font-size: 1.5em;
      font-weight: 400;
      font-family: 'Roboto Mono';
      border: 0px solid #9E9E9E;
      background: inherit;
      border-radius: 3px;
      margin: 20px 15px; }
    #app .content .content-card .float-right-button-group {
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 10px;
      -webkit-box-pack: end;
              justify-content: flex-end;
      margin-right: 15px; }
      #app .content .content-card .float-right-button-group button {
        padding: 5px 7px;
        cursor: pointer; }
    #app .content .card-links {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: end;
              justify-content: flex-end; }

@media screen {
  body {
    font-size: 13px;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
            justify-content: flex-start; }
  #app .content {
    padding: 15px 15px 5px; } }

@media screen and (min-width: 576px) {
  body {
    font-size: 14px;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
  #app .content {
    padding: 20px 25px 10px; }
  .container {
    max-width: 540px;
    margin: auto; } }

@media screen and (min-width: 768px) {
  .container {
    font-size: 15px;
    max-width: 720px;
    margin: auto; } }

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: auto; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto; } }
