@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto; } }

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto; } }

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: auto; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto; } }
