.toast {
  visibility: hidden;
  background-color: #212121dd;
  color: white;
  text-align: center;
  border-radius: 50px;
  padding: 10px 14px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 5vh;
  font-size: 1em; }

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 5vh;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 5vh;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 5vh;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 5vh;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@media screen {
  .toast {
    min-width: 80px;
    margin-left: calc(-40px - 14px); } }

@media screen and (min-width: 576px) {
  .toast {
    min-width: 90px;
    margin-left: calc(-45px - 14px); } }
