<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="js/lib/MD5.js"></script>
    <script src="js/toast.js"></script>
    <script src="js/string-decorator.js"></script>
    <script src="js/password-generator.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Generate password on fly! Simple password generator</title>
</head>

<body>
    <div id="app" class="container">
        <div class="header">
            <h1 class="header-title">Simple password generator</h1>
            <h2 class="header-subtitle">
                Create your password on the fly using the website address, your login and secret phrase!
            </h2>
        </div>
        <div class="content">
            <div class="content-card">
                <h2 class="content-card__title">
                    <span class="item-index">1.</span> Enter web-site address
                </h2>
                <input id="address" class="content-card__input fill-available-width" type="text" v-model="address" @input="generatePassword"
                    placeholder="Enter web-site address here">
            </div>
            <div class="content-card">
                <h2 class="content-card__title">
                    <span class="item-index">2.</span> Enter your login
                </h2>
                <input id="login" class="content-card__input fill-available-width" type="text" v-model="login" @input="generatePassword"
                    placeholder="Enter your login here">
            </div>
            <div class="content-card">
                <h2 class="content-card__title">
                    <span class="item-index">3.</span> Enter your secret phrase
                </h2>
                <input id="salt" class="content-card__input fill-available-width" type="text" v-model="salt" @input="generatePassword"
                    placeholder="Enter your secret phrase here">
            </div>
            <div class="content-card">
                <h2 id="generated-label">Your generated password</h2>
                <input id="generated-result" class="generated-result fill-available-width" :type="hasHidden ? 'password' : 'text'" disabled v-model="generated">
                <div class="float-right-button-group">
                    <input type="button" :value="hasHidden ? 'Show password' : 'Hide password'" @click="hasHidden = !hasHidden">
                    <input type="button" value="Copy to clipboard" @click="copyToClipboard">
                </div>
            </div>
            <div class="content-card card-links">
                <a href="https://github.com" target="_blank"><img src="assets/github-logo.png" height="28" alt="Github Repository"></a>
            </div>
        </div>

        <div id="copied-notification" class="toast"></div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>