<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="js/lib/clipboard.js"></script>
    <script src="js/lib/MD5.js"></script>
    <script src="js/lib/toast.js"></script>
    <script src="js/string-decorator.js"></script>
    <script src="js/password-generator.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Generate password on fly! Simple password generator</title>
</head>

<body class="grid-container">
    <div id="app" class="container">
        <div class="header">
            <h1 class="header-title">Simple password generator</h1>
            <h2 class="header-subtitle">
                Create your password on the fly using the website address, your login and secret phrase!
            </h2>
        </div>
        <div class="content grid-container">
            <div class="content-card">
                <h2 class="content-card__title">
                    <span class="item-index">1.</span> Enter web-site address
                </h2>
                <div class="content-card__input-container">
                    <input id="address" class="content-input fill-available-width" type="text" autocomplete="on"
                        v-model="address" @input="generatePassword" placeholder="Enter web-site address here">
                </div>
            </div>
            <div class="content-card">
                <h2 class="content-card__title">
                    <span class="item-index">2.</span> Enter your login
                </h2>
                <div class="content-card__input-container">
                    <input id="login" class="content-input fill-available-width" type="text" autocomplete="on"
                        v-model="login" @input="generatePassword" placeholder="Enter your login here">
                </div>
            </div>
            <div class="content-card">
                <h2 class="content-card__title">
                    <span class="item-index">3.</span> Enter your secret phrase
                </h2>
                <div class="content-card__input-container grid-container salt-grid-container">
                    <input id="salt" class="content-input fill-available-width"
                        :type="hasSecretHidden ? 'password' : 'text'" autocomplete="off" v-model="salt"
                        @input="generatePassword" placeholder="Enter your secret phrase here">

                    <button @click="hasSecretHidden = !hasSecretHidden"><i
                            class="material-icons icon-button">{{ hasSecretHidden ? 'visibility' : 'visibility_off' }}</i></button>
                </div>
            </div>
            <div class="content-card">
                <h2 id="generated-label">Your generated password</h2>
                <input id="generated-result" class="generated-result fill-available-width" autocomplete="off"
                    :type="hasPasswordHidden ? 'password' : 'text'" readonly v-model="generated">
                <div class="float-right-button-group grid-container">
                    <button
                        @click="hasPasswordHidden = !hasPasswordHidden">{{ hasPasswordHidden ? 'Show password' : 'Hide password' }}</button>
                    <button @click="copyToClipboard">Copy to clipboard</button>
                </div>
            </div>
            <div class="content-card card-links">
                <a href="https://github.com/nionoku/password-generator" target="_blank"><img
                        src="assets/github-logo.png" height="28" alt="Github Repository"></a>
            </div>
        </div>

        <div id="copied-notification" class="toast"></div>
    </div>

    <script src="js/main.js"></script>
</body>

</html>